{% extends "base.html" %}

{% block htmltitle %}
  <title>Page Not Found - 404</title>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    (function() {
      // Determine the language context from the current URL path
      const pathSegments = window.location.pathname.split('/');
      
      // Check if the first path segment is 'ja', default to 'en' otherwise
      const langCode = (pathSegments[1].length == 2) ? pathSegments[1] : 'en';
      
      // Define the target 404 URLs based on the determined language context
      const target404Path = langCode === 'en' ? '/404/' : `/${langCode}/404/`;
      
      // Extract the current path for the referrer parameter
      const currentPath = window.location.pathname + window.location.search + window.location.hash;
      
      // Construct the target URL with the ref query parameter containing just the path
      const targetUrlWithRef = `${target404Path}?ref=${currentPath}`;
      
      // If not already on the correct language path with the ref parameter, redirect to it
      if (window.location.pathname !== target404Path || !window.location.search.includes('ref=')) {
        window.location.href = targetUrlWithRef;
      }

      // Fix language change links since a bug makes it default to Turkish
      document.querySelectorAll("a.md-nav__link").forEach(link => {
        console.log('href', link.href)
        let langPath = (langCode === 'en') ? '/' : `/${langCode}/`;
        console.log('lang path', langPath)
        link.href = link.href.replaceAll('/tr/',langPath);
        console.log('href new', link.href)
      })

      // Fix language change links since a bug makes it default to /validator-keys/slashing-protection/
      document.querySelectorAll("a.md-select__link").forEach(link => {
        let hrefBase = link.href.split('//')[1].split('/')[0] // no trailing slash
        let lang = link.href.split('//')[1].split('/')[1];
        let hrefNew = (lang.length == 2) ? `/${lang}/` : '/';
        link.href = hrefNew;
      })
    })();
  </script>
{% endblock %}