:root  > * {
  /*--md-primary-fg-color:        #212529;*/
  /*--md-primary-fg-color--light: #14151a;
  --md-primary-fg-color--dark:  #14151a;

  --md-typeset-a-color:  var(--md-accent-fg-color);*/
}

.md-header {
  background-color: #14151a;
}
.md-typeset .tabbed-set {
  border: .05rem solid var(--md-code-bg-color);
  padding: 0.5rem 1rem 0rem 1rem;
}
.md-typeset .grid>.card {
  border-radius: 0.3rem;
}
.md-typeset .grid>.card:not(.local)::after {
  /*content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1rem' fill='%235488e8' style='padding-left: 5px' viewBox='0 0 34 24'%3E%3Cpath d='M14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3m-2 16H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7h-2z'%3E%3C/path%3E%3C/svg%3E");*/
  content: " ↗";
}
.md-typeset .grid>.card.local::after {
  content: " →";
}


  



pre button.md-clipboard {
  background-color: var(--md-code-bg-color);
  padding: 0.15rem 0.25rem 0.25rem 0.15rem;
}

